<div class="mx-3 my-3">
<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category.capitalize %></p>
<h3>Reviews:</h3>
<% @reviews.each do |review| %>
<div><%= review.content%> <%= "/" %> <%= review.rating%><%="*"%></div>
<% end %>

<%= render "reviews/new" %>
</div>

</div>
